* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --spacing: 1rem;
  --max-width: 56rem;

  --font-size-button: 1rem;
  --font-family: -system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --color-light-gray: #f5f5f5;
  --color-background-zebra: var(--color-light-gray);
}

.hidden {
  /* Viljum að þetta feli alltaf element, notum því !important */
  display: none !important;
}

html {
  font-family: var(--font-family);
}

input,
textarea,
button {
  font-size: inherit;
}

button {
  padding: 0.25rem 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);

  margin: var(--spacing) auto;
  padding-inline: var(--spacing);
  max-width: var(--max-width);
}

.weather {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.locations,
.results {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.locations__list {
  display: flex;
  gap: var(--spacing);
  flex-wrap: wrap;

  list-style-type: none;
}

.forecast {
  border-spacing: 0;
}

.forecast th,
.forecast td {
  padding: calc(var(--spacing) / 2);
  text-align: left;
}

.forecast tbody tr:nth-child(2n + 1) {
  background-color: var(--color-background-zebra);
}
